.DS_Store
project.xcworkspace
xcuserdata
Build
Build/*

Build/Intermediates/PracticalLockPicking.build/Debug-iphonesimulator/PracticalLockPicking.build/*
Build/Intermediates/PracticalLockPicking.build/Debug-iphonesimulator/PracticalLockPicking.build/dgph
Build/Intermediates/PracticalLockPicking.build/Debug-iphonesimulator/PracticalLockPicking.build
Build/Intermediates/PracticalLockPicking.build/Debug-iphonesimulator/
Build/Intermediates/PracticalLockPicking.build/
Build/Intermediates/
Build/
Build/*
